<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gedung
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list class="ion-padding">
    <app-message *ngFor="let gedung of gedungs" [gedung]="gedung"></app-message>
  </ion-list>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="goToAddGedung()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>